*.csv
/train1/.idea
/train1/titanic
/train1/test.py
/train2/venv
/train2/.idea
/train2/test.py
/train2/titanic
/train3/venv
/train3/.idea
/train4/test.py
/train4/venv
/train4/.idea
/train4/test.py
/train5/venv
/train5/.idea
/train5/test.py
/train6/venv
/train6/.idea
/train6/test.py
venv
.idea
titanic
data
test.py
*.png
__pycache__
/train5/CNN_CV
cifar-10-batches-py
.vector_cache
.data
